# This file is part of MakeHuman
# Copyright (C) 2001 - 2013 Manuel Bastioni (mbastioni@gmail.com)
# license AGPL3 (see also http://www.makehuman.org/node/320)
# homepage http://www.makehuman.org
# basemesh hm08
# MakeHuman 3d morphing modelled by Manuel Bastioni
# Copyright (C) 2013 Manuel Bastioni (mb@makehuman.org)
# license AGPL3 (see also http://www.makehuman.org/node/320)
# homepage http://www.makehuman.org
# basemesh hm08
